.brand {
	background-color: #333335;
	margin: 0 0 15px 0;
	padding: 10px 20px;
	border-radius: 8px;
	border: 1px solid #535359;
	transition: all 0.2s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 45px;
	width: 100%;
}

.brand:hover,
.active {
	background-color: #9d2e2e;
	border: 1px solid #9d2e2e;
}

.brand:active {
	background-color: #882828;
	transition: all 0.1s ease;
}

.brand img {
	width: 25px;
}

.brand .title {
	margin-left: 15px;
	font-size: 16px;
	font-weight: 500;
}